name: Create mmdb files

on:
  push:
    branches:
      - main
      - main-test

permissions:
  contents: write
  id-token: write

jobs:
  build:
    name: Create mmdb files
    runs-on: ubuntu-latest
    if: contains(github.event.head_commit.message, 'Daily Update')
    timeout-minutes: 60
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Setup Node
        uses: actions/setup-node@v6
        with:
          node-version: 24
          registry-url: 'https://registry.npmjs.org'
      - name: Setup golang
        uses: actions/setup-go@v5
        with:
          go-version: '1.22.x'
      - name: Download ip-location-to-mmdb
        shell: bash
        run: |
          wget https://github.com/paul-norman/ip-location-to-mmdb/releases/download/v1.04/ip-location-to-mmdb-linux-x64.bin -q -O /home/runner/work/ip-location-db/ip-location-db/ip-location-to-mmdb-linux-x64.bin
          chmod +x /home/runner/work/ip-location-db/ip-location-db/ip-location-to-mmdb-linux-x64.bin
      - name: Copy package.json and README.md
        shell: bash
        run: node tools/copy-package-readme.js
      - name: Update mmdb files
        shell: bash
        run: node tools/create-mmdb.js
      - name: Publish to npm
        run: tools/publish-mmdb.sh
        env:
          GITHUB_TOKEN: ${{secrets.GTOKEN}}
      - name: push changes
        uses: ad-m/github-push-action@master
        with:
          github_token: ${{secrets.GTOKEN}}
          repository: sapics/ip-location-db
          branch: main
